<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="833d0664-48cc-4dff-82f9-fd889f4bdd37" Alias="brandsLogos" Level="2">
  <Info>
    <Name>Brands properties</Name>
    <Icon>icon-download-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7b911733-c4b3-48c1-b108-c057bd33d12f</Key>
      <Name>Brand Images</Name>
      <Alias>brandImages</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="brandsLogos">Brands / Logos</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7a021f59-90cd-446b-807e-7482aa709a2a</Key>
      <Caption>Brands / Logos</Caption>
      <Alias>brandsLogos</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>