<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7eb09a07-e7da-4838-87cd-c11726b61e97" Alias="headerProperties" Level="2">
  <Info>
    <Name>Header properties</Name>
    <Icon>icon-defrag color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Properties for the header</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b00aa885-9c27-44a8-803f-53415acb2fcf</Key>
      <Name>Header Address</Name>
      <Alias>headerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[address in the header]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="header/headerContact">Header Contact</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e1131f9f-9258-44c2-93e2-5485c6c0fd1f</Key>
      <Name>Header Mail</Name>
      <Alias>headerMail</Alias>
      <Definition>9e30a2a0-2142-4d20-8dc4-f14ad9ee76bf</Definition>
      <Type>Umbraco.EmailAddress</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Mail address in the header]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header/headerContact">Header Contact</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b2744387-d3d2-4a6a-a21f-acf86fceb72a</Key>
      <Name>Header Phone</Name>
      <Alias>headerPhone</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Phone number in the header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/headerContact">Header Contact</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>64a0bef1-f5c0-459f-bbfd-4d571945d210</Key>
      <Name>Logo Image</Name>
      <Alias>logoImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/headerLogo">Header Logo</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>28e79c4d-0b39-46de-a687-20cab98f24f7</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>3572cfeb-bd40-44ea-b5e7-5ffab14d0c8c</Key>
      <Caption>Header Logo</Caption>
      <Alias>header/headerLogo</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
    <Tab>
      <Key>5e439f6a-a25c-4281-976b-c48e543b53b1</Key>
      <Caption>Header Contact</Caption>
      <Alias>header/headerContact</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>