<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6fd25be4-aac0-4374-92cc-7a1cc3c55c31" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Layout for home page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="833d0664-48cc-4dff-82f9-fd889f4bdd37">brandsLogos</Composition>
      <Composition Key="3f66a632-9904-48fb-8d6b-3c708864f4aa">featureProperties</Composition>
      <Composition Key="1274d245-6c00-4d91-832c-ce792e0569d3">footerProperties</Composition>
      <Composition Key="7eb09a07-e7da-4838-87cd-c11726b61e97">headerProperties</Composition>
      <Composition Key="d6099234-86d6-4e7b-a686-8de7e108f09b">heroProperties</Composition>
      <Composition Key="c62c98b2-82e7-4ae2-a222-d95d83471cf2">metaProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="dff76bbe-d9fd-4274-9c92-7affd4a6a6a8">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>