<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9424b872-5622-4847-91f8-9cb4b48f7461" Alias="newsPage" Level="2">
  <Info>
    <Name>News Page</Name>
    <Icon>icon-newspaper color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>NewsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ce22f4ba-528e-4a2e-8514-deab8d288006">NewsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>