@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
 <section class="news">
        <div class="container">
            <h5 class="orange-text">Article & News</h5>
            <div class="news-content">
                <h3 class="news-title">Get Every Single Articles & News</h3>
                <a class="beige-theme-btn">Browse Articles <i class="fa-light fa-arrow-up-right"></i></a>
            </div>
            <div class="news-cards">
                <div class="news-card">
                    <div class="datum-box">25 <span>Mar</span></div>
                    <div class="news-image">
                        <img src="images/pictures/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" alt="">
                    </div>
                    <div class="news-category">Business</div>
                    <div class="news-text">How To Use Digitalization In The Classroom</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                <div class="news-card">
                    <div class="datum-box">17 <span>Mar</span></div>
                    <div class="news-image">
                        <img src="images/pictures/emiliano-vittoriosi.jpg" alt="">
                    </div>
                    <div class="news-category">Business</div>
                    <div class="news-text">How To Implement Chat GPT In Your Projects</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
                <div class="news-card">
                    <div class="datum-box">13 <span>Mar</span></div>
                    <div class="news-image">
                        <img src="images/pictures/kobu-agency.jpg" alt="">   
                    </div>
                    <div class="news-category">Business</div>
                    <div class="news-text">The Guide To Support Modern CSS Design</div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</p>
                </div>
            </div>
        </div>
    </section>