@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
<section class="business-consulting">
    <div class="consulting-box"></div>
    <div class="container">
      <div class="consulting-content">
        <h5 class="orange-text">Why Choose Us</h5>
        <h3 class="consulting-title">Why We Are The Best Business Consulting Agency</h3>
        <a href="#">
          <div>
            <i class="fa-solid fa-thumbs-up"></i>
          </div>
          <div>
            Process Excellence
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </a>
        <a href="#">
          <div>
            <i class="fa-solid fa-clock"></i>
          </div>
          <div>
            Strategic Planning
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </a>
        <a href="#">
          <div>
            <i class="fa-solid fa-bezier-curve"></i>
          </div>
          <div>
            Experience Design
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </a>
        <a href="#">
          <div>
            <i class="fa-solid fa-gear"></i>
          </div>
          <div>
            Artificial Intelligence
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </a>
      </div>
      <div class="consulting-image">
        <img src="images/pictures/amy-hirschi.jpg" alt="#">
      </div>
    </div>
  </section>