@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
 <section class="news-form">
        <img class="effect" src="./images/effects/background-wavy-lines.svg" alt="#">
        <div class="container">
            <h3 class="news-title">Get News Updates By Signup</h3>
            <form>
                <input class="signup-input" type="email" placeholder="username@domain.com">
                <a href="#" class="theme-btn" type="submit">Subscribe <i class="fa-light fa-arrow-up-right"></i></a>
            </form>
        </div>
    </section>