@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
<section class="projects">
    <div class="container">
        <h5 class="orange-text">Projects & Case Studies</h5>
        <h3 class="projects-title">Explore Our Global Projects</h3>
        <div class="projects-content">
            <div class="project-card">
                <div class="project-card-image">
                    <img src="images/pictures/adeolu.jpg" alt="#">
                </div>
                <div class="project-card-title">Business Growth Initiative</div>
                <div class="project-card-link">
                    <a href="#">Read More <i class="icon fa-light fa-arrow-up-right"></i></a>
                </div>
            </div>
            <div class="project-card">
                <div class="project-card-image">
                    <img src="images/pictures/marek-levak.jpg" alt="#">
                </div>
                <div class="project-card-title">Market Expansion Strategy</div>
                <div class="project-card-link">
                    <a href="#">Read More <i class="icon fa-light fa-arrow-up-right"></i></a>
                </div>
            </div>
            <div class="project-card">
                <div class="project-card-image">
                    <img src="images/pictures/oli-dale.jpg" alt="#">
                </div>
                <div class="project-card-title">Digital Transformation Project</div>
                <div class="project-card-link">
                    <a href="#">Read More <i class="icon fa-light fa-arrow-up-right"></i></a>
                </div>
            </div>
            <div class="project-card">
                <div class="project-card-image">
                    <img src="images/pictures/carlos-muza.jpg" alt="#">
                </div>
                <div class="project-card-title">Strategic Innovation Initiative</div>
                <div class="project-card-link">
                    <a href="#">Read More <i class="icon fa-light fa-arrow-up-right"></i></a>
                </div>
            </div>
        </div>
        <a href="#" class="black-theme-btn">View All Recent Projects <i class="icon fa-light fa-arrow-up-right"></i></a>
    </div>
</section>