@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
 <section class="our-team">
        <div class="container">
            <h5 class="orange-text">Meet Our Team</h5>
            <div class="team">
                <h3 class="our-team-title">Experience Team Members</h3>
                <a class="beige-theme-btn">Browse Team <i class="fa-light fa-arrow-up-right"></i></a>
            </div>
            <div class="members">
                <div class="member">
                    <img src="images/pictures/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg" alt="a team member"> 
                    <div>Kristine Palmer</div>
                    <p>Chef Operation Officer</p>
                </div>
                <div class="member">
                    <img src="images/pictures/itay-verchik.jpg" alt="a team member"> 
                    <div>Mark Aubri</div>
                    <p>Senior Consultant</p>
                </div>
                <div class="member">
                    <img src="images/pictures/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg" alt="a team member"> 
                    <div>Kimberly Hansen</div>
                    <p>Senior Consultant</p>
                </div>
                <div class="member">
                    <img src="images/pictures/the-connected-narrative.jpg" alt="a team member"> 
                    <div>Justin Willoman</div>
                    <p>Senior Tech Consultant</p>
                </div>
            </div>
<div class="testimonial border">
                <h5 class="orange-text">Testimonial</h5>
                <h3 class="testimonial-title">What Our Client Says</h3>
                <div class="review">
                    <div class="review-flex">
                        <div class="review-stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="review-profile">
                            <div class="profile-picture border">
                                <img src="images/pictures/vince-veras.jpg" alt="profile picture of reviewer">
                            </div>
                            <div class="profile-info">
                                <div>Cassandra Warren</div>
                                <p>Business Manager, Dorfus</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-flex">
                        <div class="review-stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="review-profile">
                            <div class="profile-picture">
                                <img src="images/pictures/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="profile picture of reviewer">
                            </div>
                            <div class="profile-info">
                                <div>Amanda Tulling</div>
                                <p>Senior Developer, Square</p>
                            </div>
                        </div>
                    </div>
                    <div class="review-flex">
                        <div class="review-stars">
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                            <i class="fa-sharp fa-solid fa-star"></i>
                        </div>
                        <p class="review-text">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="review-profile">
                            <div class="profile-picture">
                                <img src="images/pictures/joseph-gonzalez.jpg" alt="profile picture of reviewer">
                            </div>
                            <div class="profile-info">
                                <div>Jack McDogglas</div>
                                <p>Key Account Manager, Gobona</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="black-theme-btn">All Reviews <i class="fa-light fa-arrow-up-right"></i></a>
            </div>
        </div>
    </section>