<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9e30a2a0-2142-4d20-8dc4-f14ad9ee76bf" Alias="[Email address] Email" Level="1">
  <Info>
    <Name>[Email address] Email</Name>
    <EditorAlias>Umbraco.EmailAddress</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IsRequired": false
}]]></Config>
</DataType>