<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ba0a3b5-2d60-4fcd-951a-13b55559bdc7" Alias="Header properties - Header Phone - [Contentment] Number Input" Level="1">
  <Info>
    <Name>Header properties - Header Phone - [Contentment] Number Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "size": "s",
  "placeholderText": "Phone Number"
}]]></Config>
</DataType>