<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdce1ff4-3d1b-4993-83ed-d18d86bfd9fc" Alias="About Company" Level="4">
  <Info>
    <Parent Key="d81bc3f8-250a-4c2b-95ce-5cf76efc2131">about company</Parent>
    <Path>/Images/HomeImages/aboutCompany/AboutCompany</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="About Company" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ipn3ti1/about_company.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>