<?xml version="1.0" encoding="utf-8"?>
<Media Key="d81bc3f8-250a-4c2b-95ce-5cf76efc2131" Alias="about company" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/aboutCompany</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="about company" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>