<?xml version="1.0" encoding="utf-8"?>
<Media Key="eff168b5-b860-4436-b23e-39942bf8f10c" Alias="Amanda Tulling" Level="4">
  <Info>
    <Parent Key="9c048059-ad9e-45d2-a8ce-da47a470f88e">what our clients say AKA reviews</Parent>
    <Path>/Images/HomeImages/whatOurClientsSayAKAReviews/AmandaTulling</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="Amanda Tulling" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wnupd11a/amanda_tulling.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>