<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca89d653-60da-4e9a-baad-1020f18cb5ba" Alias="Apple Has Released" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AppleHasReleased</Path>
    <Trashed Parent="28cbc1a6-437a-4653-ba7a-b51e8da117f9">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:01:14</CreateDate>
    <NodeName Default="Apple Has Released" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kxlitsw0/apple_has_released.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>