<?xml version="1.0" encoding="utf-8"?>
<Media Key="60cae3dc-18dd-4c6a-a21a-afe47fd04dcf" Alias="Apple Has Released" Level="3">
  <Info>
    <Parent Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9">News Images</Parent>
    <Path>/Images/NewsImages/AppleHasReleased</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:01</CreateDate>
    <NodeName Default="Apple Has Released" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1lrnuyg3/apple_has_released.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>