<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b949060-a1cd-4ef1-837a-b527a725829a" Alias="Articles And News" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ArticlesAndNews</Path>
    <Trashed Parent="28cbc1a6-437a-4653-ba7a-b51e8da117f9">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-10-08T20:00:57</CreateDate>
    <NodeName Default="Articles And News" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pciji04n/articles-and-news]]></Value>
    </umbracoFile>
  </Properties>
</Media>