<?xml version="1.0" encoding="utf-8"?>
<Media Key="b093c2cc-1148-487a-b86c-dde72cfc814a" Alias="articles and news" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/articlesAndNews</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="articles and news" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>