<?xml version="1.0" encoding="utf-8"?>
<Media Key="660dcad8-b0dc-4c47-a81b-77dcf9b62ddf" Alias="Background Lines Right" Level="2">
  <Info>
    <Parent Key="beb702d9-ed70-4be0-a8c7-bb31797985e5">Effects</Parent>
    <Path>/Effects/BackgroundLinesRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T20:10:14</CreateDate>
    <NodeName Default="Background Lines Right" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3hfa0zw2/background-lines-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>