<?xml version="1.0" encoding="utf-8"?>
<Media Key="b89e903f-7d4d-47e3-8478-0a2d26738c8b" Alias="Background Lines" Level="2">
  <Info>
    <Parent Key="beb702d9-ed70-4be0-a8c7-bb31797985e5">Effects</Parent>
    <Path>/Effects/BackgroundLines</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T20:10:14</CreateDate>
    <NodeName Default="Background Lines" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b0ij3ocn/background-lines.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>