<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca0be644-d7cc-41c4-92da-ece6f190a9b2" Alias="Background Wavy Lines" Level="2">
  <Info>
    <Parent Key="beb702d9-ed70-4be0-a8c7-bb31797985e5">Effects</Parent>
    <Path>/Effects/BackgroundWavyLines</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T20:10:14</CreateDate>
    <NodeName Default="Background Wavy Lines" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oxtaxswm/background-wavy-lines.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>