<?xml version="1.0" encoding="utf-8"?>
<Media Key="edfe185c-b85a-41e0-9e08-e1c4b0293d3a" Alias="Background Lines White Right" Level="2">
  <Info>
    <Parent Key="beb702d9-ed70-4be0-a8c7-bb31797985e5">Effects</Parent>
    <Path>/Effects/BackgroundLinesWhiteRight</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T20:10:14</CreateDate>
    <NodeName Default="Background Lines White Right" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nump31k0/background-lines-white-right.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>