<?xml version="1.0" encoding="utf-8"?>
<Media Key="da8144ca-cb10-4689-8d55-5b4a9ac3ef18" Alias="Cassandra Warren" Level="4">
  <Info>
    <Parent Key="9c048059-ad9e-45d2-a8ce-da47a470f88e">what our clients say AKA reviews</Parent>
    <Path>/Images/HomeImages/whatOurClientsSayAKAReviews/CassandraWarren</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="Cassandra Warren" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zrcidwqq/cassandra_warren.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>