<?xml version="1.0" encoding="utf-8"?>
<Media Key="beb702d9-ed70-4be0-a8c7-bb31797985e5" Alias="Effects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Effects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-06T11:20:41</CreateDate>
    <NodeName Default="Effects" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>