<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a5f1a0e-29f0-4b9b-b066-627e20c97076" Alias="Ewlement" Level="2">
  <Info>
    <Parent Key="beb702d9-ed70-4be0-a8c7-bb31797985e5">Effects</Parent>
    <Path>/Effects/Ewlement</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T20:10:14</CreateDate>
    <NodeName Default="Ewlement" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h2nf4cxq/ewlement.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>