<?xml version="1.0" encoding="utf-8"?>
<Media Key="74a8f071-51f0-4994-b09e-aa903f909500" Alias="Get More Involved With" Level="3">
  <Info>
    <Parent Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9">News Images</Parent>
    <Path>/Images/NewsImages/GetMoreInvolvedWith</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:01</CreateDate>
    <NodeName Default="Get More Involved With" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o5ykq3hq/get_more_involved_with.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>