<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a96390f-1b1c-4719-8a41-3c1e48ae5734" Alias="Grow Your Business" Level="4">
  <Info>
    <Parent Key="71d9f4f5-fcd2-4c12-b63e-5e60316a9f5d">projects case studies</Parent>
    <Path>/Images/HomeImages/projectsCaseStudies/GrowYourBusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="Grow Your Business" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/be2jmoq2/grow_your_business.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>