<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d80d264-162b-4fc1-a2d3-1bbdb1176e0f" Alias="hero introduction" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/heroIntroduction</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="hero introduction" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>