<?xml version="1.0" encoding="utf-8"?>
<Media Key="146ab09e-740c-46ba-8cf5-22c4088a1b87" Alias="How To Use Digitalization" Level="4">
  <Info>
    <Parent Key="b093c2cc-1148-487a-b86c-dde72cfc814a">articles and news</Parent>
    <Path>/Images/HomeImages/articlesAndNews/HowToUseDigitalization</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="How To Use Digitalization" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tcygufam/how_to_use_digitalization.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>