<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d207f5-36df-407e-bccd-82fe72ab3482" Alias="How To Use Digitalization" Level="3">
  <Info>
    <Parent Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9">News Images</Parent>
    <Path>/Images/NewsImages/HowToUseDigitalization</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:01</CreateDate>
    <NodeName Default="How To Use Digitalization" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4mdnfoo5/how_to_use_digitalization.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>