<?xml version="1.0" encoding="utf-8"?>
<Media Key="26165f56-c582-4ec4-90f1-1b4dea5b127d" Alias="Jack Douglas" Level="4">
  <Info>
    <Parent Key="9c048059-ad9e-45d2-a8ce-da47a470f88e">what our clients say AKA reviews</Parent>
    <Path>/Images/HomeImages/whatOurClientsSayAKAReviews/JackDouglas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="Jack Douglas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kbpbmjuc/jack_douglas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>