<?xml version="1.0" encoding="utf-8"?>
<Media Key="752fceb3-46f5-4209-ac28-0f7e72975c76" Alias="Justin Willoman" Level="4">
  <Info>
    <Parent Key="8d2d17a1-0c1b-4cc4-b47b-8febf03e76c7">team members</Parent>
    <Path>/Images/HomeImages/teamMembers/JustinWilloman</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="Justin Willoman" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wxhc43pv/justin_willoman.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>