<?xml version="1.0" encoding="utf-8"?>
<Media Key="d93e3f36-8db3-4918-ad7a-c9a64af70280" Alias="Kimberly Hansen" Level="4">
  <Info>
    <Parent Key="8d2d17a1-0c1b-4cc4-b47b-8febf03e76c7">team members</Parent>
    <Path>/Images/HomeImages/teamMembers/KimberlyHansen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="Kimberly Hansen" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ga5d3wnt/kimberly_hansen.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>