<?xml version="1.0" encoding="utf-8"?>
<Media Key="031408d5-3691-42fb-8833-8068fbd84d8f" Alias="Logotype White" Level="2">
  <Info>
    <Parent Key="3ce993cc-a235-42c6-bb1b-242cc2d2f274">Logos</Parent>
    <Path>/Logos/LogotypeWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T23:13:32</CreateDate>
    <NodeName Default="Logotype White" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2qebia2r/logotype-white.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>