<?xml version="1.0" encoding="utf-8"?>
<Media Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9" Alias="News Images" Level="2">
  <Info>
    <Parent Key="5c65adc4-d2c3-4df0-b6eb-f82423b486e5">Images</Parent>
    <Path>/Images/NewsImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-06T11:22:12</CreateDate>
    <NodeName Default="News Images" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>