<?xml version="1.0" encoding="utf-8"?>
<Media Key="71d9f4f5-fcd2-4c12-b63e-5e60316a9f5d" Alias="projects case studies" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/projectsCaseStudies</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="projects case studies" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>