<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f7e31d6-93d1-4f73-80bc-7d3acfa2db69" Alias="Showcase Image" Level="4">
  <Info>
    <Parent Key="6d80d264-162b-4fc1-a2d3-1bbdb1176e0f">hero introduction</Parent>
    <Path>/Images/HomeImages/heroIntroduction/ShowcaseImage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2023-10-08T22:14:28</CreateDate>
    <NodeName Default="Showcase Image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/22yh3h4r/showcase-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>