<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d2d17a1-0c1b-4cc4-b47b-8febf03e76c7" Alias="team members" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/teamMembers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:19</CreateDate>
    <NodeName Default="team members" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>