<?xml version="1.0" encoding="utf-8"?>
<Media Key="339d3829-1b0d-4794-a829-f9427b5aee17" Alias="Using Business Intelligence" Level="3">
  <Info>
    <Parent Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9">News Images</Parent>
    <Path>/Images/NewsImages/UsingBusinessIntelligence</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:01</CreateDate>
    <NodeName Default="Using Business Intelligence" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f22j0myn/using_business_intelligence.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>