<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c048059-ad9e-45d2-a8ce-da47a470f88e" Alias="what our clients say AKA reviews" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/whatOurClientsSayAKAReviews</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="what our clients say AKA reviews" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>