<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f45cde9-c3e7-479a-bfe4-cde631b7b27c" Alias="Why Choose Us" Level="4">
  <Info>
    <Parent Key="269d5c28-6474-462f-bad7-9507f796c542">why choose us</Parent>
    <Path>/Images/HomeImages/whyChooseUs/WhyChooseUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="Why Choose Us" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/35gfld5h/why_choose_us.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>