<?xml version="1.0" encoding="utf-8"?>
<Media Key="269d5c28-6474-462f-bad7-9507f796c542" Alias="why choose us" Level="3">
  <Info>
    <Parent Key="c67f2033-0be5-49b5-a2e0-a60bf134e086">Home Images</Parent>
    <Path>/Images/HomeImages/whyChooseUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T20:02:20</CreateDate>
    <NodeName Default="why choose us" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>