<?xml version="1.0" encoding="utf-8"?>
<Media Key="4134a08c-e342-4849-a9f7-26d60205e83b" Alias="Why You Need Five" Level="3">
  <Info>
    <Parent Key="28cbc1a6-437a-4653-ba7a-b51e8da117f9">News Images</Parent>
    <Path>/Images/NewsImages/WhyYouNeedFive</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T20:02:01</CreateDate>
    <NodeName Default="Why You Need Five" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkqdiqkc/why_you_need_five.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>