<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b6c29c5-4388-4750-888c-738e06ccb114" Alias="Contact" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Contact</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-10-08T19:11:26</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ddd0f430-bf96-4fb4-81b7-968d40a6b20c">ContactPage</Template>
  </Info>
  <Properties />
</Content>