<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b76fbb2-107f-46ef-9fc2-4fb0099d73c4" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-10-08T20:36:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="dff76bbe-d9fd-4274-9c92-7affd4a6a6a8">HomePage</Template>
  </Info>
  <Properties>
    <boxFourContent>
      <Value><![CDATA[Lorem Ipsum here]]></Value>
    </boxFourContent>
    <boxFourTitle>
      <Value><![CDATA[Try Nr Four]]></Value>
    </boxFourTitle>
    <boxOneContent>
      <Value><![CDATA[Lorem ipsum here]]></Value>
    </boxOneContent>
    <boxOneTitle>
      <Value><![CDATA[Try Nr One]]></Value>
    </boxOneTitle>
    <boxThreeContent>
      <Value><![CDATA[Lorem Ipsum here]]></Value>
    </boxThreeContent>
    <boxThreeTitle>
      <Value><![CDATA[Try Nr Three]]></Value>
    </boxThreeTitle>
    <boxTwoContent>
      <Value><![CDATA[Lorem Ipsum here]]></Value>
    </boxTwoContent>
    <boxTwoTitle>
      <Value><![CDATA[Try Nr Two]]></Value>
    </boxTwoTitle>
    <brandImages>
      <Value><![CDATA[[
  {
    "key": "7fee7ff3-69b5-4939-8dc8-3346d08e964c",
    "mediaKey": "9067608d-f998-4304-b5f1-3f2731df2059"
  },
  {
    "key": "2ce8ad69-829a-4c6a-bec1-9706926529f5",
    "mediaKey": "9f284855-0d59-48bf-af8a-a975a2249c35"
  },
  {
    "key": "b15970b6-06f6-4cd0-a9bc-aa4bfd4bb982",
    "mediaKey": "500054e9-c1a7-40f0-a761-20b299e4b75b"
  },
  {
    "key": "094538a5-664d-4360-9810-bd362bce85f3",
    "mediaKey": "8af651d8-2030-42b6-a7b3-d4d13b5aef9a"
  }
]]]></Value>
    </brandImages>
    <featureButton>
      <Value><![CDATA[Learn More!]]></Value>
    </featureButton>
    <featureMainTitle>
      <Value><![CDATA[Here is the first try]]></Value>
    </featureMainTitle>
    <featureSmallTitle>
      <Value><![CDATA[Hello]]></Value>
    </featureSmallTitle>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "bfbf4301-5c33-4120-a10c-86772f7b66a5",
    "mediaKey": "031408d5-3691-42fb-8833-8068fbd84d8f"
  }
]]]></Value>
    </footerLogo>
    <footerTextOne>
      <Value><![CDATA[I hope you enjoyed your stay! Welcome back whenever you want ]]></Value>
    </footerTextOne>
    <footerTextTwo>
      <Value><![CDATA[]]></Value>
    </footerTextTwo>
    <headerAddress>
      <Value><![CDATA[Stockholm]]></Value>
    </headerAddress>
    <headerMail>
      <Value><![CDATA[hello@hello.com]]></Value>
    </headerMail>
    <headerPhone>
      <Value><![CDATA[+46 73 076 31 03]]></Value>
    </headerPhone>
    <heroEffect>
      <Value><![CDATA[[
  {
    "key": "0a8b75fd-4e3a-491a-9c7d-9dd0bb609eb5",
    "mediaKey": "b89e903f-7d4d-47e3-8478-0a2d26738c8b"
  }
]]]></Value>
    </heroEffect>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "5eb98977-3cfd-4c42-8423-b4df163e3f3c",
    "mediaKey": "9f7e31d6-93d1-4f73-80bc-7d3acfa2db69"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[ Här kan du sätta upp sidan innehållande precis vad du vill! Ha så kul :)]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Välj precis vad du vill :)]]></Value>
    </heroTitle>
    <logoImage>
      <Value><![CDATA[[
  {
    "key": "11cf9494-c2fa-47ff-ada4-4a31dcb28cad",
    "mediaKey": "9d35e8b7-56bd-4be9-b9ca-6fe469b7c355"
  }
]]]></Value>
    </logoImage>
    <metaDescription>
      <Value><![CDATA[Author: Diana Hogescu]]></Value>
    </metaDescription>
    <metaTitle>
      <Value><![CDATA[Crito Examination]]></Value>
    </metaTitle>
    <primaryButton>
      <Value><![CDATA[Try it out]]></Value>
    </primaryButton>
    <secondaryButton>
      <Value><![CDATA[TRY IT NOW]]></Value>
    </secondaryButton>
  </Properties>
</Content>